<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<appSettings>
		<add key="ClientId" value="019b2b50-ff41-77e2-b0f5-23e0ba29e4ef"/>
		<add key="AuthorizationKey" value="MDE5YjJiNTAtZmY0MS03N2UyLWIwZjUtMjNlMGJhMjllNGVmOjdlMmI5OGMyLWRkMDAtNDQ1OC04NjdiLTUwMGUxMzNjNjIxMQ=="/>
		<add key="ApiBaseUrl" value="https://gigachat.devices.sberbank.ru/api/v1"/>
		<add key="AuthUrl" value="https://ngw.devices.sberbank.ru:9443/api/v2/oauth"/>
		<add key="SavePath" value="C:\GeneratedWallpapers"/>
	</appSettings>
</configuration>